body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: rgb(255, 255, 255);
}
header {
    background-color: #050404; 
    color: rgb(207, 173, 18); 
    padding: 15px;
    display: flex;
    align-items: center; 
}

.logo img {
    width: 50px; 
    height: auto; 
    margin-right: 20px; 
}

#menu ul{
    background-color: #000000;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    position: fixed;
    right: 260px;
    left: 260px;
    top: 20px;
    z-index: 9999;

}
#menu ul li{
    display: inline;
    padding: 50px;
}
#menu ul li a{
    display: inline-block;
    transition: background .6s;
    text-decoration: none;
    color: #ffffff;
}
#menu ul li a.menu-link:hover{
    background-color: rgb(201, 171, 0);
    padding: 10px;
    box-shadow: 0 0 50px rgba(240, 237, 237, 0.5);
    border-radius: 20px;
    
}
#carouselExample{
    max-width: 900px;
    margin: auto;

}
#top{
    width: 100%; /* Ajuste a largura conforme necessário */
    margin: 0 auto;
    position: relative;
    top: -60px;
}
.carousel-item img {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    border-radius: 10px;
}
.card-container {
    text-align: center; 
  }

.card{
    text-align: center;
    width: 18rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px; 
    vertical-align: top; 
    display: inline-block; 
}
.cadastro{
    text-align: center;
    color: black;
    width: 300px;
    margin: auto;
}
.menu{
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}
.atividades{
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}
.calculadora{
    text-align: center;
    color: black;
    width: 300px;
    margin: auto;
}
.mapBox{
    position: relative;
    width: 900x;
    height: 500px;
    background-color: #ffffff;
    margin: 0 auto;
}
.mapBox iframe{
    height: 100%;
    width: 100%;
}
.new{
    text-align: center;
    color: black;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}
.duvidas{
    text-align: center;
    color: black;
    float: none;
}

.avaliacao{
    text-align: center;
    color: black;
    margin: auto;
}

.titulo {
    margin-bottom: 10px;
}